---
	import Cheatsheet from "../components/Cheatsheet.svelte";
	// import Navbar from "../components/Navbar.svelte";
	import type Data from "../types/data";

	const data: Data[] = [
		{
			title: "tmux",
			key: [
				{
					key: "$",
					meaning: "Run in terminal",
				},
				{
					key: "Cb",
					meaning: "Prefix",
				},
			],
			sections: [
				{
					title: "Sessions",
					cheats: [
						{
							title: "Start a new session",
							methods: [
								"Create session with no name",
								"$ tmux",
								"$ tmux new",
								"Create session with name",
								"$ tmux new -s session_name",
							],
						},
						{
							title: "Show all sessions",
							methods: [
								"$ tmux ls",
								"$ tmux list-sessions",
								"Cb s",
							],
						},
						{
							title: "Attach/detach to a session",
							methods: [
								"Attach to latest session",
								"$ tmux a",
								"$ tmux at",
								"$ tmux attach",
								"$ tmux attach-session",
								"Attach to session with name",
								"$ tmux a -t session_name",
								"Detach from a session",
								"$ tmux detach",
								"Cb d",
							],
						},
						{
							title: "Kill/delete a session",
							methods: [
								"Kill session with name",
								"$ tmux kill-ses -t session_name",
								"$ tmux kill-session -t session_name",
								"Kill all sessions except the current session",
								"$ tmux kill-session -a",
								"Kill all sessions except session with name",
								"$ tmux kill-session -a -t session_name"
							],
						},
						{
							title: "Other",
							methods: [
								"Cb $ - Rename a session",
								"Cb w - Session and window preview",
								"Cb ( - Move to previous session",
								"Cb ) - Move to next session",
							]
						}
					],
				},
				{
					title: "Windows",
					cheats: [
						{
							title: "Edit a window",
							methods: [
								"Cb c - Create a window",
								"Cb , - Rename current window",
								"Cb & - Close current window",
							],
						},
						{
							title: "View windows",
							methods: [
								"Cb w - List windows",
								"Cb p - Previous window",
								"Cb n - Next window",
								"Cb 0-9 - Select window by number",
								"Cb - Toggle last active window",
							],
						},
						{
							title: "Other",
							methods: [
								" : swap-window -s 2 -t 1 - Reorder window, swap window number 2(src) and 1(dst)",
								" : swap-window -t -1 - Move current window to the left by one position"
							],
						},
					],
				},
				{
					title: "Panes",
					cheats: [
						{
							title: "Switch panes",
							methods: [
								"Cb ; - Toggle last active pane",
								"Cb { - Move the current pane left",
								"Cb } - Move the current pane right",
								"Cb hjkl - Move to left, bottom, top and right pane (prefix and key pressed down at the same time",
								"Cb q 0-9 - Switch pane by number",
								"Cb o - Switch to next pane",
							],
						},
						{
							title: "Manipulate panes",
							methods: [
								"Cb - - Split pane with horizontal layout (top and bottom)",
								"Cb | - Split pane with vertial layout (left and right)",
								"Cb hjkl - Resize pane left, down, up and right pane (prefix THEN key",
								"Cb ! - Convert pane to window",
								"Cb z - Maximize and minimize pane",
								"Cb x - Close current pane",
							],
						},
						{
							title: "Other",
							methods: [
								"Cb q - Show pane numbers",
							],
						},
					],
				},
				{
					title: "Copy mode",
					cheats: [
						{
							title: "General",
							methods: [
								"Cb [ - Enter copy mode",
								" q - Quit mode",
							],
						},
						{
							title: "Movement",
							methods: [
								" g - Go to the top line",
								" G - Go to the bottom line",
								" hjkl - Move cursor left, down, up and right",
								" w - Move cursor to the next word",
								" b - Move cursor to the last word",
							],
						},
						{
							title: "Search",
							methods: [
								" / - Search forwards",
								" ? - Search backwards",
								" n - Next keyword occurance",
								" N - Previous keyword occurance",
								" space - Start selection",
								" esc - Clear selection",
								" enter - Copy selection",
							],
						},
					],
				},
			],
		},
		{
			title: "neovim",
			sections: [
				{
					title: "Navigation",
					cheats: [
						{
							title: "Move cursor",
							methods: [
								"j - Down",
								"k - Up",
								"h - Left",
								"l - Right",
								// "H - Move to top of screen",
								"M - Move to middle of screen",
								// "L - Move to bottom of screen",
								"fx - Move to next instance of character x",
								"% - Move to matching character - () [] {}",
							],
						},
						{
							title: "Move cursor by word",
							methods: [
								"e - Move to end of word",
								"E - Move to end of word (include punctuation)",
								"b - Move to beginning of word",
								"B - Move to beginning of word (include punctuation)",
								"ge - Move to end of previous word",
								"gE - Move to end of previous word (include punctuation)",
							],
						},
						{
							title: "Move cursor by line",
							methods: [
								"0 - Move to start of line",
								"$ - Move to end of line",
								"^ - Move to first non-blank character of line",
								"g_ - Move to last non-blank character of line",
								"gg - Move to first line of file",
								"G - Move to last line of file",
								"nG, ngg - Move to line n",
							],
						},
						{
							title: "Move Page",
							methods: [
								"pgup - Move up a page",
								"pgdn - Move down a page",
								"ctrl + u - Move up half a page",
								"ctrl + d - Move down half a page",
								"ctrl + b - Move up a page",
								"ctrl + f - Move down a page",
								"ctrl + y - Move up a line",
								"ctrl + e - Move down a line",
							],
						},
					],
				},
				{
					title: "Editing",
					cheats: [
						{
							title: "Delete",
							methods: [
								"x - Delete character",
								"X - Delete character before cursor",
								"dd - Delete line",
								"dw - Delete word",
								"d$ - Delete to end of line",
								"d^ - Delete to first non-blank character of line",
								"d0 - Delete to start of line",
								"dG - Delete to end of file",
								"dg_ - Delete to last non-blank character of line",
								"ndd - Delete n lines",
								"ndw - Delete n words",
								"nd$ - Delete n characters to end of line",
								"nd^ - Delete n characters to first non-blank character of line",
								"nd0 - Delete n characters to start of line",
								"ndG - Delete n characters to end of file",
								"ndg_ - Delete n characters to last non-blank character of line",
							],
						},
						{
							title: "Copy",
							methods: [
								"yy - Copy line",
								"yw - Copy word",
								"y$ - Copy to end of line",
								"y^ - Copy to first non-blank character of line",
								"y0 - Copy to start of line",
								"yG - Copy to end of file",
								"yg_ - Copy to last non-blank character of line",
								"nyy - Copy n lines",
								"nyw - Copy n words",
								"ny$ - Copy n characters to end of line",
								"ny^ - Copy n characters to first non-blank character of line",
								"ny0 - Copy n characters to start of line",
								"nyG - Copy n characters to end of file",
								"nyg_ - Copy n characters to last non-blank character of line",
							],
						},
						{
							title: "Paste",
							methods: [
								"p - Paste after cursor",
								"P - Paste before cursor",
							],
						},
						{
							title: "Undo",
							methods: [
								"u - Undo",
								"ctrl + r - Redo",
							],
						},
					],
				},
				{
					title: "Search",
					cheats: [
						{
							title: "Search",
							methods: [
								"/ - Search forward for string",
								"? - Search backward for string",
							],
						},
						// {
						// 	title: "Search and Replace",
						// 	methods: [
						// 		":%s/old/new/g - Replace all old with new throughout file",
						// 		":%s/old/new/gc - Replace all old with new throughout file with confirmations",
						// 		":s/old/new/g - Replace all old with new in line",
						// 		":s/old/new/gc - Replace all old with new in line with confirmations",
						// 		":#,#s/old/new/g - Replace all old with new in range #,#",
						// 		":#,#s/old/new/gc - Replace all old with new in range #,# with confirmations",
						// 		":%s/old/new/gI - Replace all old with new throughout file ignoring case",
						// 		":%s/old/new/gcI - Replace all old with new throughout file with confirmations ignoring case",
						// 		":s/old/new/gI - Replace all old with new in line ignoring case",
						// 		":s/old/new/gcI - Replace all old with new in line with confirmations ignoring case",
						// 		":#,#s/old/new/gI - Replace all old with new in range #,# ignoring case",
						// 		":#,#s/old/new/gcI - Replace all old with new in range #,# with confirmations ignoring case",
						// 	],
						// },
					],
				},
				{
					title: "Astronvim",
					cheats: [
						{
							title: "Terminal",
							methods: [
								"f7 - Toggle terminal",
								"space tf - Floating terminal",
								"space th - Horizontal split terminal",
								"space tv - Vertical split terminal",
								"space tl - LazyGit",
							],
						},
						{
							title: "Neotree",
							methods: [
								"space + e - Toggle neotree",
								"space + o - Toggle focus"
							],
						},
						{
							title: "Sessions",
							methods: [
								"space + Ss - Save session",
								"space + Sl - Load session",
								"space + Sd - Delete session",
								"space + Sf - Search session",
							],
						}
					],
				}
			],
		},
		{
			title: "git",
			sections: [
				{
					title: "Repositries",
					cheats: [
						{
							title: "Creating a repo",
							methods: [
								"git init",
								"git add README.md",
								"git commit -m 'first commit'",
								"git branch -M main",
								"git remote add origin https://github.com/thereal-atom/cheatsheets.git",
								"git push -u origin main",
							],
						},
					],
				},
			],
		},
		{
			title: "firefox",
			sections: [
				{
					title: "Main",
					cheats: [
						{
							title: "History",
							methods: [
								"ctrl shift h - History",
								"ctrl h - History sidebar",
								"alt -> - Go forward in history",
								"alt <- - Go back in history",
								"ctrl shift del - Clear recent history",
							],
						},
						{
							title: "Tabs",
							methods: [
								"ctrl t - New tab",
								"ctrl w - Close tab",
								"ctrl T - Undo close tab",
								"alt 1-8 - Go to tab with number",
								"alt 9 - Go to last tab",
								"ctrl pgup, ctrl shift tab - Go one tab left",
								"ctrl pgdn, ctrl tab - Go one tab right",
								"ctrl shift pgup - Move tab left",
								"ctrl shift pgdn - Move tab right",
								"ctrl shift home - Move tab to start",
								"ctrl shift end - Move tab to end",
							],
						},
						{
							title: "Windows",
							methods: [
								"ctrl W - Close window",
								"ctrl N - Undo close window",
								"ctrl q - Quit",
								"ctrl n - New window",
								"ctrl P - New private window",
							],
						},
						{
							title: "Bookmarks",
							methods: [
								"ctrl d - Bookmark current page",
								"ctrl b - Toggle bookmarks sidebar",
								"ctrl B - Toggle bookmarks toolbar",
								"ctrl O - Show all bookmarks",
							],
						},
						{
							title: "Current page",
							methods: [
								"pgup, space - Go up a screen",
								"pdgn, shift space - Go down a screen",
								"home, ctrl up - Go to top of page",
								"end, ctrl dn - Go to bottom of page",
								"ctrl + - Zoom in",
								"ctrl - - Zoom out",
								"ctrl 0 - Zoom reset",
							],
						},
						{
							title: "Misc",
							methods: [
								"F6 - Focus address bar",
							],
						},
					],
				},
			],
		},
        {
            title: "django",
			key: [
				{
					key: "$",
					meaning: "Run in terminal",
				},
                {
                    key: "dj",
                    meaning: "django admin (python ./manage.py)",
                }
			],
            sections: [
                {
                    title: "General",
                    cheats: [
                        {
                            title: "Starting a project",
                            methods: [
                                "ensure pipenv is installed",
                                "$ mkdir project-name && cd project-name",
                                "$ pipenv install django",
                                "$ pipenv shell",
                                "$ django-admin startproject project-name .",
                                "configure python interpreter",
                                "$ pipenv --venv",
                                "$ ctrl + shift + p",
                                "$ select python interpreter",
                                "$ paste in {{path}}/bin/python",
                                "use 'python ./manage.py' as django admin from here",
                                "dj runserver {{port?}}",
                            ],
                        },
                        {
                            title: "Project structure",
                            methods: [
                                "each app is a section of the overall project",
                                "for example, you may have a chat, a message and a user app in a chat app",
                                "$ dj startapp {{appname}}",
                                "then you have to add the app in settings.py in the INSTALLED_APPS array",
                                "$ INSTALLED_APPS = [ '{{appname}}' ]",
                                "every app has the exact same structure",
                                "$ migrations/ - where database tables are generated",
                                "$ admin.py - where we define how the admin interface for the app will look",
                                "$ apps.py - where we configure the app (essentially config.py lol)",
                                "$ models.py - where database models are defined",
                                "$ tests.py - where unit tests are writter",
                                "$ views.py - where you write request handlers (essentially controllers.py)",
                                "$ urls.py - where request handlers are mapped to urls (essentially router.py)"
                            ],
                        },
                    ],
                },
            ],
        },
        {
            title: "Rust",
            sections: [
                {
                    title: "Basic Types and Variables",
                    cheats: [
                        {
                            title: "Unsigned Integers",
                            methods: [
                                "u8, u16, u32, u64, u128",
                            ],
                        },
                    ],
                },
            ],
        },
	];
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<title>Cheatsheets</title>
		<link rel="icon" type="image/svg" href="/favicon.png" />
		<meta name="description" content="Oscar's cheatsheets" />
	</head>
	<body>
		<div
			class="bg-black text-white min-h-screen"
			id="#"
		>
			<div class="flex flex-col">
				<div class="flex md:flex-row flex-col border-b border-solid border-white p-16 items-center  justify-between xl:justify-start">
					<p class="font-black text-4xl">Cheatsheets</p>
					<div class="flex flex-row md:ml-16 ml-0 md:mt-0 mt-4 text-indigo-500">
						{data.map(cheatsheet => <a
							href={`#${cheatsheet.title}`}
							class="mr-4"
						>
							{cheatsheet.nickname ?? cheatsheet.title}
						</a>)}
					</div>
				</div>
				{data.map(cheatsheet => <Cheatsheet data={cheatsheet}/>)}
			</div>
		</div>
		<a
			href="#"
			class="fixed bg-indigo-500 text-white rounded-full sm:w-16 sm:h-16 h-12 w-12 flex items-center justify-center font-black text-2xl bottom-8 right-8 sm:bottom-12 sm:right-12"
		>
			^
		</a>
	</body>
</html>

<style>
	@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700;900&family=Pacifico&display=swap');

	html, body {
		overflow-x: hidden;
	}

	:global(html) {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: 'Nunito', sans-serif;
		scrollbar-width: thick;
		scroll-behavior: smooth;
	}
</style>